@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Lato&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
  background: #ecd8c6;
  font-family: 'Gelasio', serif;
}
.main-section{
  text-align: center;
  margin: 150px 0 0 0;
}
.stopwatch{
  font-size: 60px;
  cursor: pointer;
}
.StopWachmin{
  color: black;
}
.StopWachmin:hover{
  color: white;
}
.StopWachmin > span{
  color: black;
}
span :hover{
  color: black;
}
.btn{
  padding: 8px 40px 7px 40px;
  cursor: pointer;
  font-size: 25px;
  margin: 60px 0 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}
.btn-start{
  color: #c68753;
  background: #fff;
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: 2px solid #007bff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: 500;
  outline: none;
  border: none;
}
.btn-stop{
  margin-right: 20px;
  background-color: black;
  color: #fff;
}
.btn-reset{
  margin-left: 20px;
}
.btn-reset:hover{
  color: white;
  background-color: black;
}
.btn-resume{
  padding: 9px 27px 9px 27px;
}
.btn-resume:hover{
  color: white;
  background-color: black;
}
.btn-resume,.btn-reset{
  background-color: white;
  color: #c68753;
  border: 2px solid #c68753;
}